<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 카멜 케이스 매핑 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />

		<!-- 쿼리 결과 필드가 null인 경우 누락되지 않도록 설정 -->
		<setting name="callSettersOnNulls" value="true" />

		<!-- 쿼리에 보내는 파라미터가 null인 경우 오류가 발생하는 것을 방지 설정 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- DTO 별칭 설정 추후 추가 -->
	<typeAliases>
		<typeAlias type="com.bapseguen.app.dto.AdminDTO" alias="AdminDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.AdminImageDTO" alias="AdminImageDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.BannerDTO" alias="BannerDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.CartDTO" alias="CartDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.CartItemDTO" alias="CartItemDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.CommentDTO" alias="CommentDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.FaqDTO" alias="FaqDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.FreeBoardDTO" alias="FreeBoardDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.GeneralMemberDTO" alias="GeneralMemberDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.InquiryDTO" alias="InquiryDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.ItemDTO" alias="ItemDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.ItemImageDTO" alias="ItemImageDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.LikeDTO" alias="LikeDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.MemberBlacklistDTO" alias="MemberBlacklistDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.MemberDTO" alias="MemberDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.MemberSuspendDTO" alias="MemberSuspendDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.NoticeDTO" alias="NoticeDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.OrderItemDTO" alias="OrderItemDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.OrdersDTO" alias="OrdersDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.OriginDTO" alias="OriginDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.PostDTO" alias="PostDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.PostImageDTO" alias="PostImageDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.PostReportDTO" alias="PostReportDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.PromoBoardDTO" alias="PromoBoardDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.RecipeBoardDTO" alias="RecipeBoardDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.ReviewDTO" alias="ReviewDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.SellerMemberDTO" alias="SellerMemberDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.StoreDTO" alias="StoreDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.StoreFavoriteDTO" alias="StoreFavoriteDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.CommentListDTO" alias="CommentListDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.InquiryDetailDTO" alias="InquiryDetailDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.ItemSnapshotDTO" alias="ItemSnapshotDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.ItemWithImgDTO" alias="ItemWithImgDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.MemberListDTO" alias="MemberListDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.MemberDetailDTO" alias="MemberDetailDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.MyPageDTO" alias="MyPageDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.PostDetailDTO" alias="PostDetailDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.PostListDTO" alias="PostListDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.ReviewWriteDTO" alias="ReviewWriteDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.SaleHistoryDTO" alias="SaleHistoryDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.SellerInfoDTO" alias="SellerInfoDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.StoreReivewsDTO" alias="StoreReivewsDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.WithDrawDTO" alias="WithDrawDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.MyPurchaseDTO" alias="MyPurchaseDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.ItemListDTO" alias="ItemListDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.MainStoreListDTO" alias="MainStoreListDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.ItemInsertDTO" alias="ItemInsertDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.AdminPostDTO" alias="AdminPostDTO"></typeAlias>
		<typeAlias type="com.bapseguen.app.dto.view.InquiryCommentDTO" alias="InquiryCommentDTO"></typeAlias>
	</typeAliases>

	<environments default="oracle">
		<environment id="oracle">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521/xe" />
				<property name="username" value="eatit" />
				<property name="password" value="eatit0611" />
			</dataSource>
		</environment>
	</environments>

	<!-- mapper.xml 추후 추가 -->
	<mappers>
		<mapper resource="com/bapseguen/mapper/AdminMapper.xml" />
		<mapper resource="com/bapseguen/mapper/BoardMapper.xml" />
		<mapper resource="com/bapseguen/mapper/CartListMapper.xml" />
		<mapper resource="com/bapseguen/mapper/CommentMapper.xml" />
		<mapper resource="com/bapseguen/mapper/FaqMapper.xml" />
		<mapper resource="com/bapseguen/mapper/GeneralWithDrawMapper.xml" />
		<mapper resource="com/bapseguen/mapper/InquiryMapper.xml" />
		<mapper resource="com/bapseguen/mapper/ItemMapper.xml" /> 
		<mapper resource="com/bapseguen/mapper/MemberMapper.xml" />
		<mapper resource="com/bapseguen/mapper/MyCommentMapper.xml" />
		<mapper resource="com/bapseguen/mapper/MyOrderListMapper.xml" />
		<mapper resource="com/bapseguen/mapper/MyPageMapper.xml" />
		<mapper resource="com/bapseguen/mapper/MyReviewMapper.xml" />
		<mapper resource="com/bapseguen/mapper/MyStoreFavoriteMapper.xml" />
		<mapper resource="com/bapseguen/mapper/NoticeMapper.xml" />
		<mapper resource="com/bapseguen/mapper/OrdersMapper.xml" />		
		<mapper resource="com/bapseguen/mapper/OriginMapper.xml" />
		<mapper resource="com/bapseguen/mapper/PostImageMapper.xml" />
		<mapper resource="com/bapseguen/mapper/PostMapper.xml" />
		<mapper resource="com/bapseguen/mapper/SellerMapper.xml" />
		<mapper resource="com/bapseguen/mapper/StoreManageMapper.xml" />
		<mapper resource="com/bapseguen/mapper/CommentMapper.xml" />
		<mapper resource="com/bapseguen/mapper/ImageMapper.xml" />
		<mapper resource="com/bapseguen/mapper/BannerMapper.xml" />
		<mapper resource="com/bapseguen/mapper/MainMapper.xml" />
		<mapper resource="com/bapseguen/mapper/PostReportMapper.xml" />
	</mappers>
	
</configuration>