<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
	<!-- 댓글 등록 -->
	<insert id="insert" parameterType="CommentDTO">
    <selectKey keyProperty="commentNumber" resultType="int" order="BEFORE">
      	SELECT SEQ_COMMENT_NUMBER.NEXTVAL FROM DUAL
    </selectKey>
      	INSERT INTO TBL_COMMENT(
      	COMMENT_NUMBER, POST_NUMBER, MEMBER_NUMBER, COMMENT_CONTENT, COMMENTED_DATE, COMMENT_DELETE_STATE) 
      	VALUES (#{commentNumber}, #{postNumber}, #{memberNumber}, #{commentContent}, SYSDATE, 0)
    </insert>

	<!-- 댓글 삭제 -->
  	<update id="delete" parameterType="int">
    	UPDATE TBL_COMMENT
       	SET COMMENT_DELETE_STATE = 1
     	WHERE COMMENT_NUMBER = #{value}
  	</update>
	
	<select id="selectAll" parameterType="int" resultType="CommentListDTO">
  		SELECT c.COMMENT_NUMBER, c.POST_NUMBER, c.MEMBER_NUMBER, c.COMMENT_CONTENT, c.COMMENTED_DATE, m.MEMBER_ID
  		FROM TBL_COMMENT c
  		JOIN TBL_MEMBER  m 
  		ON m.MEMBER_NUMBER = c.MEMBER_NUMBER
 		WHERE c.POST_NUMBER = #{value} AND NVL(c.COMMENT_DELETE_STATE,0) = 0
  		ORDER BY c.COMMENT_NUMBER DESC
	</select>
</mapper>