<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiry">
	<!-- 고객센터 문의 목록 조회  -->
	<select id="inquirySelectAll" resultType="InquiryDTO">
		SELECT * FROM(
			SELECT ROWNUM AS RNUM,SUBQUERY.*
			FROM(
			SELECT M.MEMBER_NUMBER,M.MEMBER_ID,P.POST_NUMBER,P.POST_Title,P.POST_CREATED_DATE,P.POST_VIEW_COUNT,I.INQUIRY_STATUS
			FROM TBL_MEMBER M JOIN TBL_POST P ON M.MEMBER_NUMBER = P.MEMBER_NUMBER
			JOIN TBL_INQUIRY I ON P.POST_NUMBER = I.POST_NUMBER
			ORDER BY P.POST_CREATED_DATE DESC
		)SUBQUERY
	)WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>

	<select id="inquiryListCount" resultType="int">
		SELECT COUNT(*)
		FROM TBL_INQUIRY
	</select>

	<!--조회수 쿼리  -->
	<update id="inquiryUpdateReadCount" parameterType="int">
		  UPDATE TBL_POST
		  SET POST_VIEW_COUNT = POST_VIEW_COUNT + 1
		  WHERE POST_NUMBER = #{postNumber}
	</update>

	<!-- 고객센터 문의 글 작성 -->
	<insert id="inquiryInsert" parameterType="InquiryDetailDTO">
	  INSERT INTO TBL_INQUIRY_BOARD (
	    POST_NUMBER, INQUIRY_CONTENT, INQUIRY_STATUS
	  ) VALUES (
	    #{postNumber}, #{inquiryContent}, #{inquiryStatus}
	  )
	</insert>

	<!-- 고객센터 문의글 상세(1건조회) -->
	<select id="inquirySelect" parameterType="int" resultType="InquiryDetailDTO">
			SELECT M.MEMBER_NUMBER,M.MEMBER_ID,P.POST_NUMBER,P.POST_Title,P.POST_CREATED_DATE,P.POST_VIEW_COUNT,I.INQUIRY_STATUS,I.INQUIRY_CONTENT
			FROM TBL_MEMBER M JOIN TBL_POST P ON M.MEMBER_NUMBER = P.MEMBER_NUMBER
			JOIN TBL_INQUIRY_BOARD I ON P.POST_NUMBER = I.POST_NUMBER
			WHERE P.POST_NUMBER= #{postNumber}
	</select>


</mapper>