<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myOrder">

	<!-- 내 구매 내역 조회 (전체)  -->
	<select id="myOrderSelect" resultType="OrderDTO" >
		<![CDATA[
		  SELECT 
		    O.ORDERS_NUMBER,O.ORDERS_DATE,O.ORDERS_TOTAL_AMOUNT,OI.ORDER_ITEM_NUMBER,OI.ORDER_ITEM_UNIT_PRICE,OI.ORDER_ITEM_QUANTITY,I.ITEM_TYPE,,I.ITEM_NAME
		  FROM TBL_ORDERS O
		  JOIN TBL_ORDER_ITEM OI ON O.ORDERS_NUMBER = OI.ORDERS_NUMBER
		  JOIN TBL_ITEM I ON OI.ITEM_NUMBER = I.ITEM_NUMBER
		  WHERE O.MEMBER_NUMBER = #{memberNumber}
		  ORDER BY O.ORDERS_DATE DESC
		]]>
	</select>


</mapper>