<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPage">

	<!-- 내 정보 조회 -->
	<select id="select" resultType="MyPageDTO" parameterType="int">
	<![CDATA[
	  SELECT M.MEMBER_NUMBER,M.MEMBER_ID,M.MEMBER_PASSWORD,G.MEMBER_NAME,G.MEMBER_PHONE_NUMBER,G.GENERAL_BIRTHDATE
	  FROM TBL_MEMBER M JOIN TBL_GENERAL_MEMBER G
	  ON M.MEMBER_NUMBER = G.MEMBER_NUMBER
	  WHERE M.MEMBER_NUMBER = #{memberNumber}
	]]>
	</select>
	
	<!-- 내 정보 수정 -->
	<update id="update" parameterType="MyPageDTO">
	<![CDATA[
	  UPDATE TBL_MEMBER
	  SET 
	    MEMBER_ID = #{memberId},
	    MEMBER_PASSWORD = #{memberPassword}
	  	WHERE MEMBER_NUMBER = #{memberNumber}
	]]>
	</update>

	<update id="update" parameterType="MyPageDTO">
	  UPDATE TBL_GENERAL_MEMBER
	  SET 
	    MEMBER_NAME = #{memberName},
	    MEMBER_PHONE_NUMBER = #{memberPhoneNumber},
	    MEMBER_BIRTHDATE = TO_DATE(#{memberBirthdate}, 'YYYY-MM-DD')
	  	WHERE MEMBER_NUMBER = #{memberNumber}
	</update>

</mapper>