<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

	<!-- 공지목록 조희 -->
	<select id="noticeSelectAll" resultType="PostDTO">
		SELECT POST_TITLE,POST_CREATED_DATE,POST_VIEW_COUNT,POST_LIKE_COUNT,POST_TYPE
		FROM TBL_POST
		WHERE POST_TYPE = 'NOTICE'
		ORDER BY POST_CREATED_DATE DESC
	</select>

	<!-- 공지 게시글 총 개수 -->
	<select id="noticeGetTotal" resultType="int">
		SELECT COUNT(post_type)
		FROM TBL_POST
		WHERE post_type = 'NOTICE'
	</select>
	
	<!--조회수 쿼리  -->
	<update id="noticeUpdateReadCount" parameterType="int">
		UPDATE TBL_NOTICE
		SET POST_VIEW_COUNT=POST_VIEW_COUNT+1
		WHERE POST_NUMBER=#{postNumber}
	</update>
	
	<!-- 게시글 삭제 쿼리 -->
	<delete id="noticeDelete" parameterType="int">
		DELETE FROM TBL_NOTICE
		WHERE POST_NUMBER =#{postNumber}
	</delete>

	<!-- 게시글 수정쿼리 -->
	<update id="noticeUpdate" parameterType="NoticeDTO">
		UPDATE TBL_NOTICE
		SET POST_TITLE=#{postTitle}, FREE_CONTENT=#{freeContent},PROMO_CONTENT=#{promoContent},RECIPE_CONTENT=#{recipeContent}
		<!-- , board_update = #{boardUpdate} 수정일 -->
		WHERE POST_NUMBER=#{postNumber}
	</update>
		
	<!-- 공지 상세(1건조회) -->
	<select id="noticeSelect" parameterType="int" resultType="PostDetailDTO">
		<![CDATA[
			SELECT M.MEMBER_NUMBER,M.MEMBER_ID, P.POST_NUMBER,P.POST_TITLE,P.POST_DATE,P.POST_VIEW_COUNT
			FROM TBL_MEMBER M JOIN TBL_POST P
			ON P.MEMBER_NUMBER=M.MEMBER_NUMBER
			WHERE P.POST_NUMBER= #{postNumber}
		]]>
	</select>
	

</mapper>