<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<!-- 공지목록 전체 조회 -->
	<select id="selectAll" resultType="NoticeDTO">
	<![CDATA[s
		SELECT*FROM(
			SELECT ROWNUM AS RNUM,SUBQUERY.*
			FROM(
			SELECT M.MEMBER_NUMBER,M.MEMBER_ID,P.POST_NUMBER, P.POST Title,P.BOARD_CONTENT,P.POST_CREATED_DATE,P.POST_VIEW_COUNT
			FROM TBL_MEMBER M JOIN TBL_POST P
			ON M.MEMBER_NUMBER=P.MEMBER_NUMBER
			ORDER BY P.POST_CREATED_DATE DESC
		)SUBQUERY
	)WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	]]>
	</select>
	
	<!-- 공지 상세(1건조회) -->
	<select id="select" parameterType="int" resultType="PostDetailDTO">
		<![CDATA[
			SELECT M.MEMBER_NUMBER,M.MEMBER_ID, P.POST_NUMBER,P.POST_TITLE,P.POST_CONTENT,P.POST_DATE,P.POST_READ_COUNT
			FROM TBL_MEMBER M JOIN TBL_POST P
			ON P.MEMBER_NUMBER=M.MEMBERNUMBER
			WHERE P.POST_NUMBER= #{postNumber}
		]]>
	</select>
	

</mapper>