<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="origin">
	<!-- 원산지 정보 추가 -->
	<insert id="addOrigin" parameterType="OriginDTO">
		<selectKey keyProperty="originNumebr" resultType="int"
			order="BEFORE">
			SELECT ORIGIN_NUMBER.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO TBL_ORIGIN (
		ORIGIN_NUMBER,origin_item,origin_menu,origin_location,business_number
		) VALUES (
		SEQ_ORIGIN_NUMBER.NEXTVAL,#{originItem},#{originMenu},#{originLocation},#{businessNumber}
		)
	</insert>

	<!-- 원산지 정보 목록 조회 -->
	<select id="originList" parameterType="String"
		resultType="OriginDTO">
		SELECT o.origin_number, o.origin_item, o.origin_menu,
		o.origin_location, s.store_name
		FROM TBL_ORIGIN o
		WHERE
		o.business_number = #{businessNumber}
	</select>

	<!-- 원산지 정보 수정 -->
	<update id="updateOrigin" parameterType="OriginDTO">
		UPDATE TBL_ORIGIN
		SET
		origin_item = #{originItem},origin_menu = #{originMenu},
		origin_location = #{originLocation}
		WHERE origin_number =
		#{originNumber}
		where origin_number = #{originNumber} and businessNumber =
		#{businessNumber}
	</update>

	<!-- 원산지 정보 삭제 -->
	<delete id="deleteOrigin" parameterType="int">
		DELETE FROM TBL_ORIGIN
		WHERE origin_number = #{originNumber}
	</delete>

	<!-- 이미 저장된 정보인지 확인 -->
	<select id="alreadyOrigin" parameterType="OriginDTO"
		resultType="int">
		select count(origin_number)
		from tbl_origin
		where origin_item
		= #{originItem} and origin_menu = #{originMenu} and origin_location =
		#{originLocation}
	</select>

	<select id="snapshot" parameterType="int"
		resultType="com.bapseguen.app.dto.view.ItemSnapshotDTO">
		SELECT
		ITEM_NUMBER AS itemNumber,
		BUSINESS_NUMBER AS businessNumber,
		ITEM_NAME AS itemName,
		ITEM_PRICE AS itemPrice,
		ITEM_QUANTITY AS itemQuantity,
		ITEM_SELL_STATE AS itemSellState
		FROM TBL_ITEM
		WHERE ITEM_NUMBER = #{itemNumber}
	</select>


</mapper>