<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">

	<!-- 전체 게시글 조회 -->
	<select id="postSelectAll" resultType="PostDetailDTO">
	<![CDATA[
		SELECT*FROM(
			SELECT ROWNUM AS RNUM,SUBQUERY.*
			FROM(
			SELECT M.MEMBER_NUMBER,M.MEMBER_ID,P.POST_NUMBER, P.POST_TITLE,P.POST_CREATED_DATE,P.POST_VIEW_COUNT
			FROM TBL_MEMBER M JOIN TBL_POST P
			ON M.MEMBER_NUMBER=P.MEMBER_NUMBER
			ORDER BY P.POST_CREATED_DATE DESC
		)SUBQUERY
	)WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	]]>
	</select>
	
	<!--포스트 타입 FREE 조회  -->
	<select id="freeSelectAll" resultType="PostDTO">
	    SELECT
	        POST_NUMBER,
	        MEMBER_NUMBER,
	        POST_TITLE,
	        POST_LIKE_COUNT,
	        POST_VIEW_COUNT,
	        POST_REPORT_COUNT,
	        DELETE_STATE,
	        POST_CREATED_DATE,
	        POST_UPDATED_DATE,
	        POST_TYPE
	    FROM TBL_POST
	    WHERE POST_TYPE = 'FREE'  <!-- 여기서 FREE만 필터링 -->
	    ORDER BY POST_CREATED_DATE DESC
	</select>
	
	

	<!-- 게시글 총 개수 -->
	<select id="postGetTotal" resultType="int">
		SELECT COUNT(post_number)
		FROM TBL_POST
	</select>

	<!--조회수 쿼리  -->
	<update id="postUpdateReadCount" parameterType="int">
		UPDATE TBL_POST
		SET POST_VIEW_COUNT=POST_VIEW_COUNT+1
		WHERE POST_NUMBER=#{postNumber}
	</update>
	
	<!-- 게시글 삭제 쿼리 -->
	<delete id="postDelete" parameterType="int">
		DELETE FROM TBL_POST
		WHERE POST_NUMBER =#{postNumber}
	</delete>

	<!-- 게시글 수정쿼리 -->
	<update id="postUpdate" parameterType="PostDTO">
		UPDATE TBL_POST
		SET POST_TITLE=#{postTitle}, FREE_CONTENT=#{freeContent},PROMO_CONTENT=#{promoContent},RECIPE_CONTENT=#{recipeContent}
		<!-- , board_update = #{boardUpdate} 수정일 -->
		WHERE POST_NUMBER=#{postNumber}
	</update>
	
	<!-- 게시글 상세(1건조회) -->
	<select id="postSelect" parameterType="int" resultType="PostDetailDTO">
	    <![CDATA[
	        SELECT M.MEMBER_NUMBER AS memberNumber,
	               M.MEMBER_ID AS memberId,
	               P.POST_NUMBER AS postNumber,
	               P.POST_TITLE AS postTitle,
	               F.FREE_CONTENT AS postContent,
	               P.POST_CREATED_DATE AS postCreatedDate,
	               P.POST_VIEW_COUNT AS postViewCount
	        FROM TBL_MEMBER M
	        JOIN TBL_POST P ON P.MEMBER_NUMBER = M.MEMBER_NUMBER
	        LEFT JOIN TBL_FREE_BOARD F ON F.POST_NUMBER = P.POST_NUMBER
	        WHERE P.POST_NUMBER = #{postNumber}
	    ]]>
	</select>
	
	<!-- 내가 작성한 게시글 조회 -->
	<select id="myPostSelect" resultType="PostDetailDTO">
	<![CDATA[
	SELECT * FROM (
	  SELECT ROWNUM AS RNUM, SUBQUERY.*
	    FROM (
	      SELECT p.POST_NUMBER, p.POST_TITLE,p.POST_TYPE,p.POST_CREATED_DATE,p.POST_VIEW_COUNT,p.POST_LIKE_COUNT, p.POST_DELETE_STATE,
	          (SELECT count(c.COMMENT_NUMBER) FROM TBL_COMMENT c WHERE c.POST_NUMBER = p.POST_NUMBER  ) AS comment_count
	      FROM TBL_POST p 
	      WHERE p.MEMBER_NUMBER = #{memberNumber}
	        AND p.POST_DELETE_STATE = 'N'
	      ORDER BY p.POST_CREATED_DATE DESC
	    ) SUBQUERY
	  )
	  WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	]]>
	</select>
	
	<!-- 내가 작성한 게시글 개수 조회 -->
	<select id="myPostCount" resultType="int">
	<![CDATA[
	SELECT count(*) FROM (
	  SELECT ROWNUM AS RNUM, SUBQUERY.*
	    FROM (
	      SELECT p.POST_NUMBER, p.POST_TITLE,p.POST_TYPE,p.POST_CREATED_DATE,p.POST_VIEW_COUNT,p.POST_LIKE_COUNT, p.POST_DELETE_STATE,
	          (SELECT count(c.COMMENT_NUMBER) FROM TBL_COMMENT c WHERE c.POST_NUMBER = p.POST_NUMBER  ) AS comment_count
	      FROM TBL_POST p 
	      WHERE p.MEMBER_NUMBER = #{memberNumber}
	        AND p.POST_DELETE_STATE = 'N'
	      ORDER BY p.POST_CREATED_DATE DESC
	    ) SUBQUERY
	  )
	]]>
	</select>
	
	
	
</mapper>