<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storeManage">
	<!-- 음식 판매 등록 -->
	<insert id="addFood" parameterType="ItemDTO">
		INSERT INTO TBL_ITEM (
		business_number,
		item_type,
		item_name,
		item_price,
		item_content,
		item_quantity,
		item_origin,
		item_expire_date,
		item_created_date
		) VALUES (
		#{businessNumber},
		#{itemType},
		'FOOD',
		#{itemPrice},
		#{itemContent},
		#{itemQuantity},
		#{itemOrigin},
		#{itemExpireDate},
		SYSDATE
		)
	</insert>
	<!-- 음식 판매 상세 조회 -->
	<select id="detaileFood" parameterType="" resultType="">

	</select>
	<!-- 음식 판매 수정 -->
	
	<!-- 음식 판매 삭제 -->
	<!-- 음식 판매 목록 조회 -->
	<select id="" parameterType="" resultType="">
		-- 상품 목록 조회
		SELECT
		i.item_number,
		i.business_number,
		i.item_type,
		i.item_name,
		i.item_price,
		i.item_content,
		i.item_quantity,
		i.item_origin,
		i.item_expire_date,
		-- s.store_name,
		im.item_image_system_name
		FROM TBL_ITEM i
		JOIN TBL_STORE s ON i.business_number = s.business_number
		LEFT JOIN TBL_ITEM_IMAGE im ON i.item_number = im.item_number
		WHERE i.business_number = #{businessNumber}
		ORDER BY i.item_number DESC
	</select>

	<!-- 재료 판매 등록 -->
	<!-- 재료 판매 상세 조회 -->
	<!-- 재료 판매 수정 -->
	<!-- 재료 판매 삭제 -->
	<!-- 재료 판매 목록 조회 -->

	<!-- 움삭 메뉴 중복 확인 -->
	<select id="alreadyfood" parameterType="" resultType="">
		select count(item_number) from tbl_item
		where item_name = #{itemName};
	</select>

	<!-- 가게 정보 조회 -->
	<!-- 가게 사진 수정 -->

	<!-- parameterType="" resultType="" -->

</mapper>