@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 회색영역 */
.admin_innerwrapper {
  width: 1100px;
  min-height: 950px;
  background-color: #d9d9d9;
  margin: auto;
  display: flex;
  position: relative;
}

/* 왼쪽 메뉴바 */
.sidebar {
  min-width: 220px;
  min-height: 950px;
  background-color: #505FA9;
  justify-content: center;
  align-items: center;
}

/* 로고 */
.admin_logo {
  margin-left: 57px;
  margin-bottom: 10px;
  width: 100px;
}

/* 리스트 초기화 */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 사이드바 리스트 (li) */
.sidebar_list {
  text-align: center;
  font-size: 24px;
}

.sidebar_list a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px 0 14px;  /* 여기로 이동 */
  width: 100%;
  transform: scale(1.1);
}

.sidebar_list a:hover {
  background-color: #1e223f;
}

/* 현재 위치 강조 */
#sidebar_list_dashboard a {
  background-color: #1e223f;
}

/* 메인컨텐츠 */
.admin_inner {
  width: 880px;
  margin: 20px auto;
}

h1 {
  font-weight: 1000;
  margin-left: 50px;
}

/* 상단 세칸 */
.dashboard_topWrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
}

.dashboard_topbox {
  width: 200px;
  height: 120px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px gray;
}

.dashboard_topbox_key {
  font-size: 24px;
  margin-top: 10px;
  padding-left: 30px;
}

.dashboard_topbox_value {
  font-size: 32px;
  font-weight: 1000;
  padding-left: 30px;
}

/* 그래프 */
.dashboard_graph {
  width: 780px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px gray;
  margin: auto;
  padding: 20px; /* 그래프 여백 */
  box-sizing: border-box;
}

.dashboard_graph_title {
  font-size: 24px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
}

.dashboard_graph_img {
  width: 100%;   /* 부모에 맞게 */
  height: 320px; /* 고정 높이 */
}

/* 하단 두칸 */
.dashboard_bottomWrapper {
  display: flex;
  justify-content: space-between;
}

.dashboard_bottombox {
  height: 300px;
  width: 350px;
  margin: 30px 50px 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px gray;
}

.dashboard_bottombox_title {
  font-size: 24px;
  padding-top: 30px;
  padding-left: 30px;
}

.dashboard_bottombox ul {
  padding: 10px;
}

.dashboard_bottombox_zimtop3,
.dashboard_bottombox_usetop3 {
  font-size: 20px;
  margin: 20px 10px;
}

/* 로그아웃 버튼 */
#admin_logoutbtn {
  background-color: #1e223f;
  color: white;
  width: 70px;
  height: 30px;
  margin: 70px 77px;
}
