<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>bapseguen</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>main.jsp</welcome-file>
	</welcome-file-list>


<servlet>
    <servlet-name>InquirySearchController</servlet-name>
    <servlet-class>com.bapseguen.app.community.InquirySearchController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>InquirySearchController</servlet-name>
    <url-pattern>/community/inquirySearchOk.co</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>FaqSearchController</servlet-name>
    <servlet-class>com.bapseguen.app.community.FaqSearchController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>FaqSearchController</servlet-name>
    <url-pattern>/community/faqSearchOk.co</url-pattern>
</servlet-mapping>

<!-- error-page -->
	<error-page>
        <error-code>404</error-code>
        <location>/app/errors/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/app/errors/500.jsp</location>
    </error-page>
    
    
<!-- location -->
	<servlet>
		<servlet-name>SaveAddress</servlet-name>
		<servlet-class>com.bapseguen.app.main.SaveAddress</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveAddress</servlet-name>
		<url-pattern>/SaveAddress</url-pattern>
	</servlet-mapping>
	
	<!-- Comment -->
	<servlet>
		<servlet-name>PostReport</servlet-name>
		<servlet-class>com.bapseguen.app.postReport.PostReportFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PostReport</servlet-name>
		<url-pattern>*.pr</url-pattern>
	</servlet-mapping>

	<!-- Comment -->
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.bapseguen.app.main.MainFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>*.ma</url-pattern>
	</servlet-mapping>

	<!-- Comment -->
	<servlet>
		<servlet-name>Comment</servlet-name>
		<servlet-class>com.bapseguen.app.comment.CommentFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Comment</servlet-name>
		<url-pattern>*.cm</url-pattern>
	</servlet-mapping>

	<!-- Img -->
	<servlet>
		<servlet-name>Img</servlet-name>
		<servlet-class>com.bapseguen.app.img.PostImageController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Img</servlet-name>
		<url-pattern>*.im</url-pattern>
	</servlet-mapping>

	<!-- Admin -->
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>com.bapseguen.app.admin.AdminFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>*.ad</url-pattern>
	</servlet-mapping>

	<!-- CartList -->
	<servlet>
		<servlet-name>CartList</servlet-name>
		<servlet-class>com.bapseguen.app.cartList.CartListFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CartList</servlet-name>
		<url-pattern>*.cl</url-pattern>
	</servlet-mapping>

	<!-- Community -->
	<servlet>
		<servlet-name>Community</servlet-name>
		<servlet-class>com.bapseguen.app.community.CommunityFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Community</servlet-name>
		<url-pattern>*.co</url-pattern>
	</servlet-mapping>

	<!-- FindId -->
	<servlet>
		<servlet-name>FindId</servlet-name>
		<servlet-class>com.bapseguen.app.findId.FindIdFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FindId</servlet-name>
		<url-pattern>*.fi</url-pattern>
	</servlet-mapping>

	<!-- FindPW -->
	<servlet>
		<servlet-name>FindPw</servlet-name>
		<servlet-class>com.bapseguen.app.findPw.FindPwFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FindPw</servlet-name>
		<url-pattern>*.fp</url-pattern>
	</servlet-mapping>

	<!-- Join -->
	<servlet>
		<servlet-name>Join</servlet-name>
		<servlet-class>com.bapseguen.app.join.JoinFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Join</servlet-name>
		<url-pattern>*.jo</url-pattern>
	</servlet-mapping>

	<!-- Login -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.bapseguen.app.login.LoginFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>*.lo</url-pattern>
	</servlet-mapping>

	<!-- Orders -->
	<servlet>
		<servlet-name>Orders</servlet-name>
		<servlet-class>com.bapseguen.app.orders.OrdersFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Orders</servlet-name>
		<url-pattern>*.or</url-pattern>
	</servlet-mapping>

	<!-- SellerMyPage -->
	<servlet>
		<servlet-name>SellerMyPage</servlet-name>
		<servlet-class>com.bapseguen.app.sellerMyPage.SellerMyPageFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SellerMyPage</servlet-name>
		<url-pattern>*.se</url-pattern>
	</servlet-mapping>

	<!-- UserMyPage -->
	<servlet>
		<servlet-name>UserMyPage</servlet-name>
		<servlet-class>com.bapseguen.app.userMyPage.UserMyPageFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserMyPage</servlet-name>
		<url-pattern>*.my</url-pattern>
	</servlet-mapping>

</web-app>