@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
main{
  background-color: #FFF5E4;
  width: 1920px;
  height: 1950px;
  display: flex;
  flex-direction: row;
}

/* 1100px 영역 */
.foodsaleswrite_container {
  width: 1100px;
  height: 100%;
  background-color: #fbe3b9;
  margin: 0px 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 전체 영역 끝 */
/* 왼쪽 사이드 바 */
.foodsaleswrite_my_page_list {
  position: fixed;
  padding: 0;
  margin: 60px 20px 0 200px;
  width: 190px;
  height: 585px;
  font-size: 20px;
  background-color: #a6998080;
  border-radius: 10px;
}

.foodsaleswrite_my_page {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FF873C;
  width: 190px;
  height: 110px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodsaleswrite_side_bar > li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 15px 0;
  width: 190px;
}

.foodsaleswrite_side_bar > li > a {
  text-decoration: none;
  color: white;
}

.foodsaleswrite_side_bar > li:hover {
  width: 190px;
  background-color: #ff873ca6;
  border-radius: 10px;
}
.foodsaleswrite_main{
  width: 190px;
  background-color: #ff873ca6;
  border-radius: 10px;
}

/* 컨텐츠 영역 */
.foodsaleswrite_photo_container {
  width: 700px;
  height: 400px;
  background-color: white;
  margin:   80px 0px;
  display: flex;
  /* flex-direction: column; */
  justify-content: end;
}
.foodsaleswrite_submit_table{
  width: 700px;
  display: flex;
}
.foodsaleswrite_box{
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.foodsaleswrite_title {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* 내부 컨텐츠 영역 */
/* 공통 부분 */
.foodsaleswrite_content_container > div {
  /* background-color: #a69980; */
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  flex-wrap: wrap;
  flex: 1;
}

label {
  background-color: #a69980;
  color: white;
  border-radius: 4px;
  width: 80px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 10px;

}

input[type="number"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 170px;
  height: 30px;
  margin: 0px 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 500px;
  height: 30px;
  margin: 0px 10px;
}

textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
  width: 500px;
}

button {
  background-color: #ff873c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  height: 45px;
  /* display: none; */
}

button:hover {
  background-color: #ff7722;
}

.foodsaleswrite_buzz{
  background-color: #FF873C;
  width: 155px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: right;
  margin-top: 50px;
}

/* 공통부분 끝 */
/* 사진 미리보기 */
#image-preview {
  width: 600px;
  height: 300px;
  max-width: 600px;
  max-height: 300px;
  object-fit: cover;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  object-fit: contain;
}

.foodsaleswrite_quantity_price_container {
  gap: 20px;
  /* margin-bottom: 10px; */
}
.foodsaleswrite_quantitiy_container,
.foodsaleswrite_price_container{
	  display: flex;
    align-items: center;
}
.foodsaleswrite_photo_container {
  flex-direction: column;
}
/* 이미지 파일 첨부 */
.image-label{

}
/* 이미지 업로드 스타일 */
svg {
	width: 1em;
	height: 1em;
	fill: rgb(255, 87, 87);
}
.photo-upload{
	display : flex;
}

.image-upload-wrap {
	border: 1px solid rgb(240, 240, 240);
	background-color: white;
	padding: 13px;
	position: relative;
	display: flex;
}

.upload-text {
	display: flex;
	justify-content: center;
	margin: 4px;
	font-size: 12px;
	color: rgb(158, 158, 158);
}

.upload-text:first-child {
	color: black;
	font-weight: bold;
}

.upload-text:last-child {
	color: rgb(255, 87, 87);
	font-weight: bold;
}

.upload-icon {
	margin-right: 5px;
}

input [type='file'] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;
}

.file-list {
	list-style-type : none;
	margin-top : 15px;
	display : flex;
}

.file-list > li {
	display:flex;
	position : relative;
	/*width : 145px;*/
	/*height : 100px;*/
	margin-right : 10px;
	
}

.show-img-box{
	width : 100%;
	height : 100%;
}

.show-img-box > img{
	width : 100%;
	height : 100%;
}

.btn-box{
	position : absolute;
	bottom : 0;
	right : 0;
}

.img-cancel-btn{
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 25px;
}

.img-cancel-btn:hover{
	background-color: rgb(255, 87, 87);
	color: #fff;
}

/* ===== 원하는 순서로 쌓기: 미리보기(위) → 업로드 박스(중간) → 라벨(아래) ===== */
.foodsaleswrite_submit_table .form-group {
  display: flex;
  flex-direction: column;  /* 세로 스택 */
  gap: 12px;               /* 요소 간 간격 */
}

/* 1) 미리보기 칸을 최상단으로 */
.foodsaleswrite_submit_table .form-group .img-controller-box { order: 1; }

/* 2) 파일 첨부 칸을 중간으로 */
.foodsaleswrite_submit_table .form-group .image-upload-wrap { order: 3; 	}

/* 3) "메뉴 사진 등록" 라벨을 맨 아래로 */
.foodsaleswrite_submit_table .form-group .image-label { 
  order: 2; 
  align-self: flex-start;   /* 필요 시 왼쪽 정렬 */
}

/* 보기 좋게 미리보기 영역을 박스처럼 */
.img-controller-box {
  border: 1px solid rgb(240, 240, 240);
  background-color: #fafafa;
  padding: 10px;
  min-height: 110px; /* 썸네일 없을 때도 칸 느낌 유지 */
}

/* 썸네일 리스트 줄바꿈 시 간격 */
.file-list { 
  list-style-type: none;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* ===== 기존 스타일 보완 (오타 수정 및 범위 한정) ===== */
/* 'input [type="file"]' → 'input[type="file"]' (공백 제거) */
.image-upload-wrap input[type='file'] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  cursor: pointer;
  opacity: 0;
}
