@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
main{
  background-color: #FFF5E4;
  width: 1920px;
  height: 1500px;
  display: flex;
  flex-direction: row;
}
/* 1100px 영역 */
.seller_myreviews_page{
  background-color: #FBE3B9;
  width: 1100px;
  margin-left: 410px;
}

/* 좌측 메뉴 바 */
.seller_reviewList_menu {
  position: fixed;
  padding: 0;
  margin: 100px 20px 0 200px;
  width: 190px;
  height: 585px;
  font-size: 20px;
  background-color: #a6998080;
  border-radius: 10px;
}

.seller_reviewList_menu_title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FF873C;
  width: 190px;
  height: 110px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller_reviewList_menu_list_current {
  background-color: #FF873C;
  /* width: 190px; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller_reviewList_menu_list>li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 15px 0;
  width: 190px;
}

.seller_reviewList_menu_list>li>a {
  text-decoration: none;
  color: white;
}


.seller_reviewList_menu_list>li:hover {
  width: 190px;
  background-color: #ff873c8c;
  border-radius: 10px;
}
/* 좌측 메뉴바 끝 */

/* 페이지 제목 */
.seller_myreviews_list{
  margin: 100px 0 45px 70px;
  font-size: 30px;
}
/* 목록 제목 라인 */
.seller_myreviews_top{
  margin-left: 50px;
  background-color: #a69980;
  width: 1000px;
  height: 50px;
  font-size: 20px;
  align-items: center;
  display: flex;
  border: 1px solid black;
  padding: 6px 10px;
}
/* 각 목록 내용 */
.seller_myreviews_comments_list{
  margin-left: 50px;
  background-color: white;
  width: 1000px;
  height: 50px;
  font-size: 16px;
  align-items: center;
  display: flex;
  border: 1px solid black;  
  padding: 6px 10px;
}
/* 각 요소 */
.seller_myreviews_restaurant_name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 130px;
}
.seller_myreviews_meal_name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
}
.seller_myreviews_content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 350px;
}
.seller_myreviews_quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 70px;
}
.seller_myreviews_price{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
}
.seller_myreviews_date{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 110px;
}
.seller_myreviews_grade{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 80px;
}

/* 페이지네이션  */
/* 페이지네이션 위치 잡기 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
/* 페이지네이션 ul 마크 제거 */
.pagination > ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
/* 페이지네이션 요소 */
.pagination a {
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  margin: 0 8px 0 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #A69980;
  border-radius: 6px;
  color: black;
}
/* 페이지네이션 hover */
.pagination a:hover {
  background-color: #ffd580;
  color: #4a3000;
}
/* 현제 페이지의 페이지네이션 강조 */
.pagination .active {
  background-color: #ffb84d;
  color: white;
  cursor: default;
  border-color: #ffae42;
}

