@charset "UTF-8"; 

/* ===== 기본 스타일 ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== 메인 컨테이너 ===== */
main {
  width: 1920px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(80% 80% at 50% 0%, rgba(255,233,210, .55) 0%, rgba(255,245,228,0) 60%),
              #fff5e4;
  overflow: hidden;
}

/* ===== 실패 컨테이너 ===== */
.seller_edit_user_info {
  background-color: #FBE3B9;
  width: 1100px;
  height:60%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
}

/* ===== 본인 확인 영역 ===== */
.check_area {
  background-color: #fffdf7;
  width: 900px;
  height: 350px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 페이지 제목 */
.seller_my_info {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.usercheck{
  font-size: 30px;
  margin: 10px 0 20px 0;
  font-weight: bold;
  color: #3b2f20;
  text-align: center;
}

/* ===== 비밀번호 입력 박스 ===== */
.seller_chk_pw_input {
  display: flex;
  flex-direction: column;  /* p 태그가 위쪽에 오도록 설정 */
  width: 800px;
  height: 300px;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 7px;
}

/* 비밀번호 입력 칸 */
.seller_chk_pw_info {
  background-color: rgba(128, 128, 128, 0); 
  width: 200px;
  height: 50px;
  padding: 0;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: black;
  line-height: 50px;
  font-weight: bold;
}
.seller_chk_pw_info:focus{
  outline: none;
  border: 1px solid #FF873C;
  box-shadow: 0 0 8px rgba(255, 135, 60, 0.6);
}
/* 입력칸을 감싼 회색 박스 */
.seller_gray_box {
  width: 615px;
  height: 50px;
  background-color: white;
  border: 1.5px solid #ddd;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#seller_chk_pw_info {
  width: 610px;
  font-size:16px;
  font-weight:light;
}

/* 버튼 */
#seller_chk_pw_btn {
  width: 160px;
  height: 50px;
  border-radius: 15px;
  border: none;
  margin: 10px;
  align-self: center;
  background-color: #FF7722;
  box-shadow: 0 6px 15px rgba(242, 154, 90, 0.8);
  color: #fff;
}

/* 경고메시지 */
#seller_chk_pw_warning {
  color: red;
  margin-top: 10px;
  text-align:center;
}
